<p-card [header]="product?.title">
  <ng-template pTemplate="header">
    <div class="relative">
      <img alt="Card" [src]="images[0]" />
      <button
        pButton
        icon="pi pi-pencil"
        (click)="editProduct()"
        class="absolute top-0 p-button-sm"
        style="left: 70%"
      ></button>
      <button
        pButton
        icon="pi pi-trash"
        (click)="deleteProduct()"
        class="absolute top-0 right-0 p-button-sm p-button-danger"
      ></button>
    </div>
  </ng-template>
  <p class="m-0">
    {{ product?.description }}
  </p>
  <div class="card-footer">
    <p>{{ product?.category?.name }}</p>
  </div>
</p-card>
