.container__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 573px;
}

.image {
  width: 60px;
  height: 50px;
  object-fit: cover;
}
.container__images {
  max-height: 115px;
  overflow: auto;
}
